<div class="mcq-container">
    <div class="mcq-content">
        <div class="question">
            <h4>What is the capital of France?</h4>
        </div>
        <div class="options">
            <ul class="option-list">
                <li>
                    <label>
                        <input type="radio" name="capital" value="Delhi">
                        Delhi
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="capital" value="Rome">
                        Rome
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="capital" value="Paris">
                        Paris
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="capital" value="Madrid">
                        Madrid
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
