.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #caf0f8; /* Very light blue */
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 3px solid #90e0ef; /* Sky Blue */
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    margin-top: 0px;
    transition: all 0.3s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    color: #003366;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #003366;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: #00b4d8;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
}

.button {
    padding: 15px 22px;
    border-radius: 10px;
    background-color: #00b4d8;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: #0077b6;
    opacity: 0.9;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
