<div class="home-container">
    <div class="left-content">
        <app-typewriter></app-typewriter>
        <p>Test your knowledge with our exciting quizzes. Challenge yourself and learn new things every day!</p>
        <button class="button">Get Started</button>
    </div>
    <div class="right-content">
        <img src="homePage2.png" alt="Quiz Animation">
    </div>
</div>

<!-- <div class="home">
    <div class="header">
        <h2>Choose Your Quiz Category</h2>
        <p>Test your knowledge across different topics. Select a quiz and challenge yourself!</p>
    </div>
    <div class="search-filter-custom">
        <app-filter></app-filter>
        <app-searchbar></app-searchbar>
    </div>

    <div class="quiz-card-container">
        <div *ngFor="let quiz of paginatedCategories">
            <app-card [title]="quiz.title" [info]="quiz.info"></app-card>
        </div>
    </div>

    <mat-paginator [length]="allCategories.length" [pageSize]="6" [pageSizeOptions]="[6,12,18]" showFirstLastButtons
        (page)="onPageChange($event)"></mat-paginator> -->
<!-- </div> -->