.chip{
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    color: #333;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 16px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.filter-container{
    position: absolute;
    background-color: #ddd;
    padding: 16px;
    border-radius: 12px;
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px;
    z-index: 1000;
}

.container{
    position: relative;
    margin: 0px;
    padding: 0px;
}

.selected{
    color: white;
    background-color: #0077b6;
}