<div class="main-container">
    <div class="left-container">
        <div class="brief-info">
            <img src="profile_pic.jpg" alt="" class="profile-image" style="margin: 0;">
            <h3 style="margin: 0;">{{ user.username }}</h3>
            <p style="margin: 0;">{{ user.bio }}</p>
            <p style="margin: 0;">
                📍 {{ user.address }}
              </p>
        </div>
    </div>
    <div class="right-side">
        <div class="right-container">
            <div class="info-row">
                <p class="label-p">Full Name</p>
                <p>{{ user.name }}</p>
            </div>
            <div class="info-row">
                <p class="label-p">Email</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="info-row">
                <p class="label-p">Phone</p>
                <p>{{ user.phone }}</p>
            </div>
            <div class="info-row">
                <p class="label-p">College</p>
                <p>{{ user.college }}</p>
            </div>
            <div class="info-row">
                <p class="label-p">Address</p>
                <p>{{ user.address }}</p>
            </div>
            <div>
                <button class="btn btn-outline-primary edit-button" (click)="toggleEdit()">Edit</button>
            </div>
        </div>
        <div class="performance-container">
            <h3>User Performance Overview</h3>
            <div class="performance-metrics">
                <div class="metric-card">
                    <h4>Quizzes Taken</h4>
                    <p>{{ performance.quizzesTaken }}</p>
                </div>
                <div class="metric-card">
                    <h4>Accuracy</h4>
                    <p>{{ performance.accuracy }}</p>
                </div>
                <div class="metric-card">
                    <h4>Average Score</h4>
                    <p>{{ performance.averageScore }}</p>
                </div>
                <div class="metric-card">
                    <h4>Highest Score</h4>
                    <p>{{ performance.highestScore }}</p>
                </div>
            </div>
        </div>
    </div>
</div>