<nav class="navbar">
    <div class="navbar-left">
      <ul class="navbar-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <button class="button" routerLink="/login">Login</button>
      <button class="button" routerLink="/register">Sign Up</button>
      <!-- <img alt="Profile" class="profile-logo" src="profile_logo.avif"/> -->
      <!-- <button class="button" routerLink="/login">Logout</button> -->
    </div>    
</nav>
  