@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scrollable-container {
  overflow: auto; 
  height: 100vh;
}
