@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height of the viewport */
}

.content {
  flex: 1; /* Pushes the footer to the bottom */
}

.footer {
  background-color: #90e0ef;
  color: #fff;
  padding: 20px;
  text-align: center;
}

